 <!-- Responsive navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!" style="font-size: 40px;">
           <img src="https://i.postimg.cc/FFnrcC4d/icon.jpg" alt="" style="width:40px; border-radius: 20px; margin-bottom: 5px;">
            FoodCorner
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!" style="font-size: 20px;">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="#food"style="font-size: 20px;">Food</a></li>
                <li class="nav-item"><a class="nav-link active" href="home/login" style="font-size: 20px;">Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<section id="d1">
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5" >
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://i.postimg.cc/fT65NP80/background.jpg"
                alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light" style="color: rgb(4, 49, 49);">FoodCorner</h1>
            <p style="font-size:30px ; font-style: italic; color: rgb(63, 16, 107);">"Deliciousness jumping into the mouth"</p>
        </div>
    </div>
    <!-- Call to Action-->
    <div id="food" class="card text-white text-center" style="background: linear-gradient(rgb(194, 118, 194),rgb(204, 97, 97));">
        <div class="card-body">
            <h4 class="" style="color: black;">Our Famous Foods</h4>
        </div>
    </div>
   
    <!-- Content Row-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                <div class="col mb-5">
                    <div class="item">
                        <!-- Product image-->
                        <img class="card-img-top" id="img1" src="https://i.postimg.cc/bvF3mg5V/noodles.jpg" alt="...">
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <div class="col mb-5">
                    <div class="item">
                        <!-- Product image-->
                        <img class="card-img-top" id="img1" src="https://i.postimg.cc/tgPYcCv0/cholebhature.jpg"
                            alt="..." />
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <div class="col mb-5">
                    <div class="item">
                        <!-- Product image-->
                        <img class="card-img-top" id="img1" src="https://i.postimg.cc/bY0FhxSr/pizza.webp" alt="..." />
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col mb-5">
                    <div class="item">
                        <!-- Product image-->
                        <img class="card-img-top" id="img1" src="https://i.postimg.cc/YCHZ5t3c/biriyani.jpg"
                            alt="..." />
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <div class="col mb-5">
                    <div class="item">
                        <!-- Product image-->
                        <img class="card-img-top" id="img1" src="https://i.postimg.cc/fT4rdM13/momo.webp" alt="..." />
                    </div>
                </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                <div class="col mb-5">
                    <div class="item">
                        <!-- Product image-->
                        <img class="card-img-top" id="img1" src="https://i.postimg.cc/pX0TzgSh/burger.jpg" alt="..." />
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                <div class="col mb-5">
                    <div class="item">
                        <!-- Product image-->
                        <img class="card-img-top" id="img1" src="https://i.postimg.cc/3w83VhLB/vegrice.jpg" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</section>