<!-- <div class="card-table">
    <div class="cart-product">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Sl. No</th>
                    <th>Food Name</th>
                    <th>Food Image</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let food of foods;let i = index" >
                    <td>{{i+1}}</td>
                    <td>{{food.foodName}}</td>
                    <td><img src="{{food.image}}" style="width: 120px; border-radius: 50px;" alt=""></td>
                    <td>{{food.price}}</td>
                    <td>{{i+1}}</td>
                    <td>{{grandTotal}}</td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td><button (click)="emptyCart()" class="btn btn-danger">Empty Cart</button></td>
                    <td><button routerLink="/home/dashboard" class="btn btn-primary">Shop More</button></td>
                    <td><button class="btn btn-success">Checkout</button></td>
                    <td><strong>Grand Total : ₹{{grandTotal}}</strong></td>

                </tr>
            </thead>

        </table> -->
